/* 공통 푸터 */

position: absolute;
width: 1440px;
height: 760px;



/* 푸터 정보란 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Frame 58 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 200px;

position: absolute;
width: 1440px;
height: 290px;
left: 0px;
top: 0px;

background: #FFFFFF;
border-width: 1px 0px;
border-style: solid;
border-color: rgba(21, 21, 21, 0.6);


/* 큰 로고 1 */

width: 200px;
height: 122px;

background: url(큰 로고.png);

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 59 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 944px;
height: 50px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* 회사소개 */

width: 80px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 14 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* 이용안내 */

width: 80px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 2;
flex-grow: 0;


/* Vector 15 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 3;
flex-grow: 0;


/* 개인정보처리방침 */

width: 130px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 4;
flex-grow: 0;


/* Vector 16 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 5;
flex-grow: 0;


/* 여행자약관 */

width: 90px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 6;
flex-grow: 0;


/* Vector 17 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 7;
flex-grow: 0;


/* 취소 및 환불 규정 */

width: 130px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 8;
flex-grow: 0;


/* Vector 18 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 9;
flex-grow: 0;


/* 예약시 주의사항 */

width: 130px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 10;
flex-grow: 0;


/* Vector 19 */

width: 0px;
height: 20px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 11;
flex-grow: 0;


/* 보증보험확인 */

width: 130px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 12;
flex-grow: 0;


/* icon-park-outline:share */

width: 24px;
height: 24px;


/* 내부 오토레이아웃 */
flex: none;
order: 13;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #151515;


/* Frame 62 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
gap: 10px;

position: absolute;
width: 1440px;
height: 120px;
left: 0px;
top: 290px;

background: #FFFFFF;


/* SNS 로고 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 21px;

margin: 0 auto;
width: 744px;
height: 74px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* 카톡 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 220px;
height: 60px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* 카톡 로고 */

width: 40px;
height: 40px;

background: url(free-icon-kakao-talk-3992630.png);

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* KAKAO TALK */

width: 120px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Vector 22 */

width: 0px;
height: 74px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* 인스타 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 220px;
height: 60px;


/* 내부 오토레이아웃 */
flex: none;
order: 2;
flex-grow: 0;


/* 인스타그램 로고 */

width: 40px;
height: 40px;

background: url(free-icon-instagram-logo-87390.png);

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* INSTAGRAM */

width: 120px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Vector 21 */

width: 0px;
height: 74px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 3;
flex-grow: 0;


/* 블로그 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 220px;
height: 60px;


/* 내부 오토레이아웃 */
flex: none;
order: 4;
flex-grow: 0;


/* 네이버 블로그 로고 */

width: 40px;
height: 40px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Group */

position: absolute;
left: 18.51%;
right: 19.77%;
top: 16.75%;
bottom: 16.44%;



/* Vector */

position: absolute;
left: 76.15%;
right: 19.77%;
top: 16.75%;
bottom: 16.44%;

background: #3CB15B;


/* Vector */

position: absolute;
left: 18.51%;
right: 37.47%;
top: 21.5%;
bottom: 20.17%;

background: #3CB15B;


/* BLOG */

width: 120px;
height: 30px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 67 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 310px;
height: 100px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Vector 20 */

width: 0px;
height: 74px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 66 */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;

width: 280px;
height: 100px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 64 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 0px;
gap: 18px;

width: 260px;
height: 40px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* TELL */

margin: 0 auto;
width: 20px;
height: 20px;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 11.46%;
right: 11.46%;
top: 11.46%;
bottom: 22.43%;

border: 1px solid #151515;


/* Vector */

position: absolute;
left: 11.46%;
right: 11.46%;
top: 25%;
bottom: 11.46%;

border: 1px solid #151515;


/* Ellipse 13 */

position: absolute;
left: 80%;
right: 15%;
top: 85%;
bottom: 10%;

background: #151515;


/* 031-998-2136 */

margin: 0 auto;
width: 226px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 63 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 10px 0px;
gap: 18px;

width: 260px;
height: 40px;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

margin: 0 auto;
width: 20px;
height: 20px;

background: #151515;

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* unotravel-roma@hotmail.com */

margin: 0 auto;
width: 226px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 63 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 20px;
gap: 10px;

position: absolute;
width: 1440px;
height: 290px;
left: 0px;
top: 410px;

background: #FFFFFF;
border-top: 1px solid rgba(21, 21, 21, 0.6);


/* Frame 69 */

/* 오토레이아웃 */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 10px 0px;
gap: 10px;

width: 620px;
height: 280px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 72 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 620px;
height: 44px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* (주)우노컴패니 */

width: 102px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 25 */

width: 0px;
height: 24px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* 대표 : 염승범 */

width: 94px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 2;
flex-grow: 0;


/* Vector 24 */

width: 0px;
height: 24px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 3;
flex-grow: 0;


/* 개인정보 책임자: 염승범 */

width: 316px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 71 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 620px;
height: 44px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 사업자 등록번호: 105-88-12788 */

width: 216px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Vector 24 */

width: 0px;
height: 24px;

border: 1px solid rgba(21, 21, 21, 0.6);

/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/*  통신판매업신고번호 : 2015-서울마포-0315    */

width: 316px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 73 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 620px;
height: 40px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 대표메일 : unotravel-roma@hotmail.com */

width: 286px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 72 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 620px;
height: 40px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* KOREA */

width: 102px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* 경기도 김포시 김포대로 709 (풍무동) 퍼스트블루 1008호 */

width: 386px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 73 */

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 620px;
height: 40px;

background: #FFFFFF;

/* 내부 오토레이아웃 */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* ITALY */

width: 102px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* VIA DEL CIGLIOLO 23 VELLETRI (RM) CAP 00049 */

width: 386px;
height: 20px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 54 */

box-sizing: border-box;

/* 오토레이아웃 */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 30px;
gap: 10px;

position: absolute;
width: 1440px;
height: 60px;
left: 0px;
top: 700px;

background: #FFFFFF;
border-top: 1px solid rgba(21, 21, 21, 0.6);


/* ©2026 UNOTRAVEL ALL RIGHTS RESERVED. */

width: 430px;
height: 24px;

font-family: 'Crimson Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;
/* 또는 0% */
display: flex;
align-items: center;

color: #151515;


/* 내부 오토레이아웃 */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 317 */

position: absolute;
width: 385px;
height: 331px;
left: 720px;
top: 451px;



/* 레이어 흐림 */

position: absolute;
width: 344px;
height: 331px;
left: 22px;
top: 0px;

background: rgba(252, 200, 0, 0.6);
filter: blur(150px);


/* image 43 */

position: absolute;
width: 385px;
height: 296px;
left: 0px;
top: 13px;

background: url(image.png);
